#accountSection{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#DP{
    height: 200px;
    width: 200px;
    border: 1px dotted black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
#userDetails{
    display: flex;
    gap: 20px;
}
#accountDetails{
    display: flex;
    gap: 15px;
}
#DP img{
    height: 90%;
    width: auto;

}
#posts {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr); 
    padding-top: 10px;

}
#accountPostView {
    position: fixed;
    top: 10%;
    left: 15%;
}
  