#landingPagePanels{
    display: flex;
    width: 100%;
    background-color: #f0eeee;
}
#sidePanel{
    flex: 2;
    width: 345px;

}
#main{
    width: 1020px;
    margin-left: 340px;
}

#mainPanel{
    flex: 6;

}
#secondPanel{
    flex: 2;
}
#usersList{
    margin-top: 70px;
    height: 548.70px;
    overflow: hidden;

    position: fixed;
    overflow: hidden;
    border-radius: 3%;
    box-shadow: 0px 4px 4px -2px black;

}
#postItem:nth-child(1){
    margin-left: 3px;
    margin-top: 85px;
}
#postItem{
    margin-left: 3px;
    margin-top: 15px;
}

#userlistBox{
    position: fixed;
    width: 350px;
}
#navBox{
    width: 100%;
    position: fixed;
}
#sidePanel{
    margin-top: 70px;
    position: fixed;
}
#updateBox{
    position: fixed;
    margin-top: 620px;
}