#postSection{
     height: 700px;
     width: 1200px;
     border-radius: 10px;
     overflow: hidden;
     border: 1px solid black;
}
#topPanel{
    height: 35px;
    width: 100%;
    background-color: white;
    display: flex;
    padding-left: 15px;
    align-items: end;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 2px;
    gap: 7px;
    border-bottom: 1px solid black;

}
#topPanelDp{
    height: 100%;
    border-radius: 50%;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px dotted black;
}
#topPanelDp img{
    height: 100%;
}
#dateTime{
    flex: 2;
    font-size: 12px;
    display: flex;

    gap: 5px;

    padding-left: 15px;
    padding-right: 15px;
}
#panelCloseIcon{
    cursor: pointer;
    position: relative;
    top: 5px;
}





#postMedia{
    width: 100%;
    display: flex;
    background-color: #F0F0F0;
}
#postImgVid{
    margin: 15px;
    height: 630px;
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 8px 8px 8px -4px lightblue;
}
#postImgVid img{
    padding: 3px;
    height: 100%;
}
#postComment{
    height: 665px;
    width: 50%;
    display: flex;
    flex-direction: column;

}
#postCaption{
    margin: 15px;
    min-height: 200px;
    overflow: hidden;
    width: 95%;
    border-radius: 20px;
    box-shadow: 8px 8px 8px -4px lightblue;
    background-color: white;
    padding: 20px;
    font-weight: 100;
}
#postComments{
    background-color: white;
    height: 350px;
    width: 95%;
    margin: 15px 15px 15px 15px;
    border-radius: 20px;
    box-shadow: 8px 8px 8px -4px lightblue;
    overflow-y: auto;
    
}
#postComments::-webkit-scrollbar {
    width: 0px;
}
#LikeShare{
    display: flex;
    gap: 10px;
    margin: 8px 15px 15px 15px;
    
}
#LikeShare div{
    background-color: white;
    padding: 9px;

    size: 25;
    border-radius: 5px;
    box-shadow: 4px 4px 8px -4px lightblue;
    display: flex;
    align-items: center;
    justify-content: center;


}
#comment{
    padding: 15px;
    border-bottom: 1px solid black;
}

#commentLike{
    display: flex;
    justify-content: space-between;
}
#commentUsername{
    font-weight: 500;
}
#commentData{
    padding-top: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #222;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
#commentWriting{
    top: 100px;
    width: 100%;
    height: 50px;
    display: flex;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
}
#commentWriting input{
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
}
#commentWriting input {
    background-color: #fffdfd;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px;
    padding-left: 20px;
  }
  
  #commentWriting input:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }
  
  #commentWriting  input:hover {
    outline: 1px  solid lightgrey;
  }
  #commentSubmission{
    height: 40px;
    border: none;
    background-color: white;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
  }