#panelBox{
    display: flex;
    flex-direction: column;
    font-size: 20px;

}
#panelBox div{
    border: 2px solid black;

}

.card {

    width: 95%;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    padding: 15px 0px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 3px 3px -5px black;
}
.card div{
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 12px;

    display: flex;
    gap: 10px;
    align-items: center;
}
  
  .element {
    color: grey;
    font-size: .8em;
    padding: 6px 15px;
    border-left: 2px solid grey;
    cursor: pointer;
  }
  
.active {
    background: linear-gradient(135deg, #0b3cffcc, #1c0c99b8, #e0297bca);
    border-left: 2px solid #8cb4ff;
    color: azure;
}
  
.element:hover:not(.active) {
    color: #3775bb;
}