#updateBox{
    height: 190px;
    width: 370px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;

    
}

.card2{
    font-family: Montserrat, sans-serif;
    width: 100%;
    height: 100%;
    translate: -6px -6px;
    background: linear-gradient(135deg, rgba(0, 0, 255, 0.4), rgba(128, 0, 255, 0.4), rgba(255, 0, 255, 0.4));
    border: 3px solid #000000;
    box-shadow: 6px 6px 6px -4px #000000;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .hb-head-k3z {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 900;
    width: 100%;
    height: 32px;
    background: #ffffff;
    padding: 5px 12px;
    color: #000000;
    border-bottom: 3px solid #000000;
  }
  
  .content {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
  }
  
  .userNameUpdate {
    padding: 5px 10px;
    margin-top: 10px;
    border: 3px solid #000000;
    box-shadow: 3px 3px 0 #000000;
    font-weight: 750;
    background: #4ade80;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .hb-btn-n1m:hover {
    translate: 1.5px 1.5px;
    box-shadow: 1.5px 1.5px 0 #000000;
    background: #1ac2ff;
  }
  
  .hb-btn-n1m:active {
    translate: 3px 3px;
    box-shadow: 0 0 0 #000000;
  }
  
  .hb-card-x9y:hover {
    translate: -6px;
  }
  
